__pycache__/
*.py[cod]
*.pyo

.DS_Store
.idea/
.vscode/

.venv/
venv/
env/

build/
dist/
*.spec

output/
outputs/
test/
tests/

*_curved.pdb
*_rescaled.xyz
*_rescaled.txt
*_interpolated.xyz
*_interpolated.txt
